include ChangeLog CODE_OF_CONDUCT.md CONTRIBUTING.rst CREDITS LICENSE README.rst
include Makefile tox.ini

graft factory

graft docs
graft examples
graft tests

exclude .readthedocs.yaml
global-exclude *.py[cod] __pycache__ .*.sw[po]
prune .github
prune docs/_build
