include ChangeLog CODE_OF_CONDUCT.md CONTRIBUTING.rst CREDITS LICENSE README.rst
include requirements*.txt
include Makefile tox.ini .flake8

graft factory

graft docs
graft examples
graft tests

global-exclude *.py[cod] __pycache__ .*.sw[po]
prune .github
prune docs/_build
