include ChangeLog CREDITS LICENSE README.rst
include requirements*.txt

graft factory

prune docs
prune examples
prune tests

global-exclude *.py[cod] __pycache__ .*.sw[po]

exclude Makefile tox.ini .flake8
